<h2>What is LiveJournal.com?</h2>
<p>LiveJournal / LJ or Zhivoy Zhurnal (Russian: Живой Журнал)/ZheZhe (Russian: ЖЖ) in Russia, is a Russian social networking service where users can keep a blog, journal or diary. A wide variety of political pundits also use the service for political commentary, particularly in Russia, where it partners with the online newspaper Gazeta.ru. As with many other social networks, a wide variety of public figures use the network.</p>

<p>LiveJournal was started on April 15, 1999 by American programmer Brad Fitzpatrick as a way of keeping his high school friends updated on his activities. In January 2005, blogging software company Six Apart purchased Danga Interactive, the company that operated LiveJournal, from Fitzpatrick. Six Apart sold LiveJournal to Russian media company SUP Media in 2007; the service continued to operate out of the U.S. via a California-based subsidiary, LiveJournal, Inc., but began moving some operations to Russian offices in 2009. In December 2016, the service re-located its servers to Russia, and in April 2017, LiveJournal changed its terms of service to conform to Russian law.</p>

<h2>Who uses LiveJournal?</h2>
<p>RUSSIANS.</p>

<h2>How do I use my LiveJournal?</h2>
<p>Figure it out, you'll be surprised on how easy it is. If you cant figure it out.. well...get off the internet.</p>

<img src="img/frank.png" alt="frank the goat" id="frank"/>
