<h2>What is DeadJournal.com?</h2>
<p>DeadJournal.com is a journal site, but as you will quickly see, not all journal sites are apple pie and fruitcakes. Here is where you find the journals that nobody else wants to see, or even host. This is DEFINITELY not to place you write shit in your Facebook about... or even want your family or most of your friends to read. This isn't even the place that you write what you'd write in other journals. That's why we're here. This is where you write your raw feelings of anger, hate, frustration, sadness, hurt, how you've been hurt or how you've hurt other people. This is where you write about how you were dumped because you weren't willing to compromise yourself for someone who said they loved you, but if they did, they wouldn't asked you to do that. This is place you write about how you feel when your soulmate fucked your best friend and expect you to be ok because it was just one time.</p>

<p>We love intelligent pissed off people. If you're a pissed off person who can conjugate verbs, hates incompetence, then you MUST sign up now!</p>

<h2>Who uses DeadJournal?</h2>
<p>All sorts of people use DeadJournal to record their rants and psychotic and/or sociopathic thoughts (or sometimes even normal medicated thoughts)! We even have famous people who do, but they don't tell anyone. We don't SPAM you with OH NO THEY DIDN'T or other bullshit no one with an IQ wants to read.</p>

<h2>How do I use my DeadJournal?</h2>
<p>Figure it out, you'll be surprised on how easy it is. If you cant figure it out.. well.... you click the link below.</p>
