<div class="jumbotron">
  <h1>LiveJournal</h1>
  <nav>
    {{#link-to 'contact'}}Contact{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}} |
    {{#link-to 'index'}}Home{{/link-to}}
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
