<div class="container">
  {{outlet}}
</div>
<br>
<br>
<hr>
<footer>
{{#link-to 'contact'}}Contact{{/link-to}}
<br>
{{#link-to 'about'}}About{{/link-to}}
<br>
{{#link-to 'index'}}Home{{/link-to}}
</footer>
